<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel Local</title>
    <link rel="stylesheet" href="../static/main.css">

  </head>
  <body>
    <div class="nav-bar">
      <ul>
        {% if current_user.user_id %}
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right"><a class="logout" href="{{url_for('reg_bp.login')}}">logout</a></li>
        <li style="float:right"><a class="signup">Hi {{username}}!</a></li>
        {% else %}
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right"><a class="signup" href="{{url_for('reg_bp.signup')}}">sign up</a></li>
        <li style="float:right"><a class="login" href="{{url_for('reg_bp.login')}}">Login</a></li>
        {% endif %}

</ul>
    </div>
    <div class="container">
      <h1>Where you want to go?</h1>
      <form class="search" action="index.html" method="post">
        <input placeholder="City, address, Name" type="text" name="looking" >
        <button type="submit" name="search">SEARCH</button>
      </form>
      <div id="samples">
        <h3>Places you want to visit</h3>
        <div class="photobanner">
          <a href="#pic"><img class="first" alt="picture"src="../static/One_Rockefeller_Plaza.jpg" width="250px" height="250px"</a>
          <a href="#pic"><img alt="picture"src="../static/One_world.jpg" width="250px" height="250px"</a>
          <a href="#pic"><img alt="picture"src="../static/empire_state.jpg" width="250px" height="250px"</a>
          <a href="#pic"><img alt="picture"src="../static/public_library.jpg" width="250px" height="250px"</a>
        </div>
      </div>
    </div>

  </body>
  <script src="main.js"></script>
</html>
