<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome Log In</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="login-side">
        <h1>Login</h1>
        <form class="login" action="{{url_for('reg_bp.login')}}" method="post">
          <input placeholder="Enter your username" type="text" name="user_name" required><br>
          <input placeholder="Enter your password" type="password" name="pwd" required><br>
          <p><a href="templates/forgot.html">Forgot username or password?</a></p>
          <button type="submit" class="btn btn-primary" name="login">LOGIN</button>
        </form>
      </div>
    </div>

  </body>
</html>
