<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Travel Local</title>
    <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main.css">
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand index-logo" href="{{url_for('home')}}">MyTravel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about_me')}}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('contact_me')}}">Contact</a>
            </li>
          </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link">Hi {{username}}!</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('dashboard_bp.user_dashboard')}}">dashboard <span class="sr-only">(current)</span></a>
                </li>

              </ul>
          <form class="form-inline" action="{{url_for('reg_bp.logout')}}" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
          </form>
        </div>
      </nav>
      <div class="row">
        <div class="col"></div>
        <div class="col-sm-12 col-md-6">
          <div class="container-fluid" style="font-family: Kalam, cursive; padding-top:25px;">
            {% for message in get_flashed_messages() %}
                 <h1>{{ message }}</h1>
             {% endfor %}

          <h1>Enter the details of the new place</h1>
          <form class="post_place" action="{{url_for('listing_bp.add_new_place')}}" method="post" enctype="multipart/form-data">
            <div class="form-group">
             <label for="exampleFormControlInput1">Name</label>
             <input type="text" class="form-control" id="exampleFormControlInput1" name="place_name" placeholder="Place name" required>
            </div>
             <div class="form-group">
              <label for="exampleFormControlInput1">Address</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" name="place_address" placeholder="Place address" required>
            </div>
            <div class="form-group">
             <label for="exampleFormControlInput1">Website</label>
             <input type="url" class="form-control" id="exampleFormControlInput1" placeholder="place website" name="place_website">
            </div>
           <div class="form-group">
            <label for="exampleFormControlInput1">Phone Number</label>
            <input type="tel" class="form-control" id="exampleFormControlInput1" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="000-000-0000" name="place_phone">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="place_pic" name="place_pic" aria-describedby="inputGroupFileAddon01" accept=".jpg,.jpeg,.png" required>
              <label class="custom-file-label" for="place_pic">Choose image (jpg, jpeg, png format only)</label>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter description here</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" name="place_description"></textarea>
          </div>
          <div class="button-new-place">
            <div class="row">
              <div class="col"></div>
              <div class="col-sm-12 col-md-6">
                <button type="submit" class="btn signin-btn btn-lg" name="submit">SUBMIT</button>
              </div>
              <div class="col"></div>
            </div>
          </div>

            </form>
            </div>
        </div>
        <div class="col">

        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js"></script>

  </body>
</html>
