<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome Sign Up</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <h1>Sign Up</h1>
      <form class="login" action="{{url_for('reg_bp.signup')}}"  method="post">
        <input placeholder="Enter your email address" type="email" name="email_name_new" required><br>
        <input placeholder="Enter your username" type="text" name="user_name_new" required><br>
        <input placeholder="create your password" type="password" name="pwd_new" required><br>
        <input placeholder="confirm your password" type="password" name="ver_pwd" required><br>
        <div>
          <input type="checkbox"/>
          <label>Agree to <a href="#terms.html">terms and conditions</a></label><br>
        </div>
        <button type="submit" class="btn btn-primary" name="Signup">SIGNUP</button>

      </form>
    </div>

  </body>
</html>
